@using CvProject.Models.Entity
@model List<SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">ID</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Sil</th>
                                            <th>Düzenle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {                                           
                                            <tr>
                                                <td>@x.Id</td>
                                                <td>@x.Name</td>
                                                @if (x.State == true)
                                                {
                                                    <td>Aktif</td>
                                                }
                                                else
                                                {
                                                    <td>Pasif</td>
                                                }
                                                <td>
                                                    <a class="btn btn-danger btn-sm" href="/SocialMedia/DeleteMedia/@x.Id">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Sil
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SocialMedia/UpdateMedia/@x.Id">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Düzenle
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button style="margin-top:15px" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sosyal Medya Hesabı Penceresi</h2>
                    </div>
                    <form method="post" action="/SocialMedia/AddMedia/">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" name="Name" class="form-control" />
                            <br />
                            <label>Sosyal Medya Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Sosyal Medya İconu</label>
                            <input type="text" name="Icon" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>



