<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <form method="post">
            <h2 class="mb-5">İletİşİm</h2>
            <label class="text-dark">Ad - Soyad</label>
            <input type="text" class="form-control" name="NameSurname" />
            <br />
            <label class="text-dark">Mail</label>
            <input type="text" class="form-control" name="Mail" />
            <br />
            <label class="text-dark">Konu</label>
            <input type="text" class="form-control" name="Subject" />
            <br />
            <label class="text-dark">Mesaj</label>
            <textarea class="form-control" name="Message"></textarea>
            <br />
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</section>
